* {
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    padding: 40px 240px;
    min-height: 50px;
    margin: 0 auto;

}

.header-div-1 {
    display: flex;
    gap: 20px;
}

.header-div-2 {
    display: flex;
    gap: 20px;
    color: #3C354F;
    text-align: center;
    font-family: Work Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    justify-content: center;
    align-items: center;
}

.header-button {
    display: flex;
    width: 262px;
    height: 56px;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    gap: 20px;
    font-size: 18px;
}

.heading-1 {
    text-align: center;
    font-family: Work Sans;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.div-2-content {
    color: #3C354F;
    text-align: center;
    font-family: Work Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    font-size: 18px;
}

.header-page {
    width: 100%;
    padding: 40px 240px;
    min-height: 50px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

.header-page-left {
    width: 50%;
}

.header-page-right {
    width: 50%;
}

.header-page-title {
    color: #0B0223;
    text-align: center;
    font-family: Work Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
}

.header-page-title-2 {
    text-align: center;
    font-family: Work Sans;
    font-size: 95px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.header-page-txt {
    color: #534C64;
    font-family: Work Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: lowercase;
    display: flex;
    
    justify-content: center;
}

.header-page-button-div {
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.btn-1 {
    display: inline-flex;
    padding: 21px 40px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 48px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    border: none;
    color: #FFF;
    font-family: Work Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
}

.btn-2 {
    display: inline-flex;
    padding: 21px 40px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 48px;
    border: none;
    border-radius: 48px;
    background: #4EC5F7;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    color: white;
}

/* main items */

.online-games {
    width: 100%;
    padding: 40px 240px;
    min-height: 50px;
    margin: 0 auto;
}

.online-games-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px;
}

.online-games-title {
    color: #0B0223;
    font-family: Work Sans;
    font-size: 30px;
    font-style: normal;
    line-height: normal;
    text-align: center;
    padding: 20px;
}

.online-games-para {
    text-align: center;
    padding: 20px;
}

.box {
    width: 342px;
    height: 500px;
    flex-shrink: 0;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    /* hover */

    position: relative;
}

.online-game-title-style {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.online-games-container {
    display: flex;
    margin: 0 auto;




}

.online-games-containt-img {
    width: 100%;

    
}
/* hover */
.hover-containt{
    width: 100%;
    height: 80%;
    top: 0;
    left: 0;
    position: absolute;
    background:rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transition: 0.6s;
    border-radius: 10px;
}
.hover-containt:hover{
    opacity: 1;
}




/* hover */

.play-games {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 40px 240px;
    min-height: 50px;
    margin: 0 auto;
}

.play-games-left {
    width: 50%;
    padding-left: 20px;

}

.play-games-right {
    width: 50%;
    padding: 0px;

}

.play-games-heading {
    text-align: left;
    font-size: 48px;
    font-style: normal;

}

.play-games-para {
    color: #534C64;
    text-align: left;
    font-size: 18px;
    font-style: normal;



}

.play-games-img1 {
    width: 550px;
    height: 500px;
    flex-shrink: 0;
    border-radius: 8px;
    background: url(<path-to-image>), lightgray -7.583px 0px / 102.389% 100% no-repeat;
    position: relative;
}

.play-games-img2 {
    width: 280.5px;
    height: 300.083px;
    flex-shrink: 0;
    border-radius: 5px;
    border: 5px solid #FFF;
    background: url(<path-to-image>), lightgray 0px -0.304px / 100% 117.229% no-repeat;

    position: relative;
    top: -200px;
    right: 200px;
}


.button-page {
    width: 100%;
    padding: 40px 240px;
    min-height: 50px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);


}

.button-page-btn-1 {
    width: 243px;
    height: 80px;
    flex-shrink: 0;
    border-radius: 50px;
    background: #FFF;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: none;


}

.button-title {
    color: #0B0223;
    font-family: Work Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.button-page-btn-1:hover {
    font-size: 20px;
    font-style: normal;
    line-height: normal;
    background: var(--linear, linear-gradient(90deg, hwb(329 17% 13%) 0%, #FF42A5 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    width: 248px;
    height: 80px;
    border-radius: 50px;
    border-style: solid;
    border-color: #F948B2;
}

.footer {

    width: 100%;
    background: #0B0223;

    padding: 40px 240px;
    min-height: 50px;
    margin: 0 auto;
    align-items: center;
}

.footer-div {
    width: 40%;
    margin: 0 auto;

}

.footer-title {
    color: #FFF;
}

.div-1 {
    color: #FFF;
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: space-evenly;
    font-size: 30px;
    padding: 10px;




}

.div-2 {
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
    font-size: 15px;

}

.div-3 {

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: larger;
    padding: 50px;
    font-size: 300px;


}

.div-4 {
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
    font-size: 15px;



}

.fotter-icon {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: none;
}

.footer-last-line {
    color: white;
    text-align: center;
    padding-top: 30px;
}


/* ------------------------------------------------------------------------------------- */

/* view */

@media screen and (max-width: 990px) {

    .header,
    .header-page,
    .header-div-2 {
        display: flex;
        padding: 20px 20px;
        align-items: center;
        justify-content: center;
        text-align: center;

    }
    .header-page-left {
        width: 100%;
    }
    .header-page-txt {


        font-size: 25px;
        font-style: normal;
        line-height: normal;
        text-transform: lowercase;
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
    }
    .header-page-title-2 {
        text-align: center;
        font-size: 30px;
        font-style: normal;
        line-height: normal;
        text-transform: uppercase;
        background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .header-image {
        width: 100%;
        display: flex;
        align-items: center;
    }

    .header-page-title {
        color: #0B0223;
        text-align: center;
        font-size: 15px;
        font-style: normal;
        line-height: normal;
        text-transform: uppercase;
    }

    .header-page-txt {
        font-size: 10px;
        font-style: normal;
        line-height: normal;
        text-transform: lowercase;
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
    }

    .btn-1,
    .btn-2,
    .header-page-button-div {
        display: inline-flex;
        padding: 5px 10px;
        align-items: flex-start;
        gap: 10px;
        border-radius: 20px;
        background: var(linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
        border: none;
        color: #FFF;
        font-family: Work Sans;
        font-size: 5px;
        font-style: normal;

        line-height: normal;
        text-transform: uppercase;
    }
}


/*........................... large mobile scene..................................... */


@media screen and (max-width: 426px) {

    .header,
    .header-page,
    .header-div-2,
    .online-games,
    .online-games-container,
    .play-games,
    .button-page,
    .footer {
        flex-direction: column;
        padding: 20px 20px;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 70%;


    }

    .header-page-left {
        width: 100%;
    }


    .header-page-txt {


        font-size: 20px;
        font-style: normal;
        line-height: normal;
        text-transform: lowercase;
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
    }

    .header-page-title-2 {
        text-align: center;
        font-size: 25px;
        font-style: normal;
        line-height: normal;
        text-transform: uppercase;
        background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .header-image {
        width: 100%;
        display: flex;
        align-items: center;
    }

    .header-page-title {
        color: #0B0223;
        text-align: center;
        font-size: 15px;
        font-style: normal;
        line-height: normal;
        text-transform: uppercase;
    }

    .header-page-txt {
        font-size: 10px;
        font-style: normal;
        line-height: normal;
        text-transform: lowercase;
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
    }

    .btn-1,
    .btn-2,
    .header-page-button-div {
        display: inline-flex;
        padding: 5px 10px;
        align-items: flex-start;
        gap: 10px;
        border-radius: 20px;
        background: var(linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
        border: none;
        color: #FFF;
        font-family: Work Sans;
        font-size: 5px;
        font-style: normal;

        line-height: normal;
        text-transform: uppercase;
    }

    .online-games-containt-img {
        width: 80%;
    }

    .online-games-container {}

    .box {
        height: 300px;
        width: 200px;
    }

    .play-games-heading {
        font-size: 20px;
        text-align: center;
        justify-content: center;
        padding-bottom: 10px;
    }

    .play-games-para {
        font-size: 15px;
        text-align: center;
        /* justify-content: center; */
        padding-bottom: 10px;
    }

    .play-games-right {
        width: 100%;
    }

    .play-games-img1 {
        width: 80%;
        height: 300px;
    }

    .play-games-img2 {
        height: 160px;
        width: 150px;
        top: -100px;
        left: -70px;
        border: none;
    }

    .button-page {
        width: 90%;
        margin-right: 20px;
        display: flex;

    }

    .button-page-btn-1 {
        width: 100%;
        gap: 10px;
    }

    .div-1 {
        display: flex;
    }

    .div-2 {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .div-3 {
        gap: 10px;
    }

    .div-4 {
        display: flex;
        flex-wrap: wrap;
    }

    .fotter-icon {
        padding: 10px;
        align-content: center;
        justify-content: center;
    }






}